.input-array-row-wrapper {
	position: relative;
	padding-left: 29px; // TODO Magic value, can it be derived?
	margin-bottom: 10px;

	& > button {
		position: absolute;
		left: 0;
		top: $line-height-computed + $input-height-base/4;
	}
}
