<div class="form-group" validity-coordinator>
	<label for="name">Name</label>
	<input validate ng-model="ctrl.owner.name" type="text" class="form-control" id="name" />
</div>
<panel-collection-editor validate ng-model="ctrl.owner.pets" var-name="item" add-item="ctrl.addPet(index)" remove-item="ctrl.removePet(item)">
	<header><h3>Pets</h3></header>
	<pet-editor ng-model="item" index="$index" add-item="addItem({index:$index+1})" remove-item="removeItem({item:item})"></pet-editor>
</panel-collection-editor>
