.form-error-message.ng-enter,
.form-error-message.ng-move {
	-webkit-transition:0.5s linear all;
	-moz-transition:0.5s linear all;
	-o-transition:0.5s linear all;
	transition:0.5s linear all;
	opacity:0;
}

.form-error-message.ng-enter.ng-enter-active,
.form-error-message.ng-move.ng-move-active {
	opacity:1;
}

.form-error-message.ng-leave {
	-webkit-animation:0.5s my_animation;
	-moz-animation:0.5s my_animation;
	-o-animation:0.5s my_animation;
	animation:0.5s my_animation;
}

@keyframes my_animation {
	from { opacity:1; }
	to { opacity:0; }
}
@-webkit-keyframes my_animation {
	from { opacity:1; }
	to { opacity:0; }
}
@-moz-keyframes my_animation {
	from { opacity:1; }
	to { opacity:0; }
}
@-o-keyframes my_animation {
	from { opacity:1; }
	to { opacity:0; }
}
